<!DOCTYPE html>
<head>
    <title>表格展示</title>
    <!--第一步：引入Javascript / CSS （CDN）-->
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8"
            src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


</head>
<body ng-controller="mycontroller">
<button id="test">测试</button>
<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
    </tr>
    </thead>
    <tfoot>
    </tfoot>
</table>


<script>
    $(function () {

        var table = $('#example').DataTable({

            autoWidth: false,  //禁用自动调整列宽
            stripeClasses: ["odd", "even"],  //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true,  //隐藏加载提示,自行处理
            serverSide: true,  //启用服务器端分页
            searching: false,  //禁用原生搜索
            orderMulti: true,  //启用多列排序
            order: false,  //取消默认排序查询,否则复选框一列会出现小箭头
            renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
            pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "每页 _MENU_ 项",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
                "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页",
                    "sJump": "跳转"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: function (data, callback, settings) {

                //封装请求参数
                var param = {};
                param.pageSize = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.startIndex = data.start;//开始的记录序号
                // param.startIndex = (data.start / data.length);//当前页码

                //ajax请求数据方法
                $.ajax({
                    type: "GET",
                    url: "/userList",//url请求的地址
                    cache: false,  //禁用缓存
                    data: param,  //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        //封装返回数据重要
                        var returnData = {};
                        returnData.draw = data.draw;
                        //返回数据全部记录
                        returnData.recordsTotal = result.data.total;
                        returnData.recordsFiltered = result.data.total;
                        //返回的数据列表
                        returnData.data = result.data.list;
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    }
                });
            },
            //列表表头字段
            columns: [
                {data: "userId", "title": "用户ID"},
                {data: "userName", "title": "用户名"},
                {data: null, "wdith": 80}
            ],
            columnDefs: [
                {
                    "targets": 2,
                    "render": function (data, type, row, meta) {
                        var button = '<button ' +
                            'onclick="test(' + row.userId + ')">测试</button>';
                        return button;
                    }
                }
            ]
        });

        $("#test").click(function () {
            table.ajax.reload();
        });


    });

    function test(id) {
        console.log(id)
    }

</script>
</body>