<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.sy.model.SysUser">
        <id column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="DEPARTMENT_ID" jdbcType="INTEGER" property="departmentId"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_PWD" jdbcType="CHAR" property="userPwd"/>
        <result column="USER_POSITION" jdbcType="VARCHAR" property="userPosition"/>
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone"/>
        <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail"/>
        <result column="USER_DISPLAY_ORDER" jdbcType="INTEGER" property="userDisplayOrder"/>
        <result column="USER_NOTE" jdbcType="VARCHAR" property="userNote"/>
        <association property="department"
                     javaType="com.sy.model.SysDepartment">
            <id column="DEPARTMENT_ID" jdbcType="INTEGER"
                property="departmentId"/>
            <result column="DEPARTMENT_NAME" jdbcType="VARCHAR"
                    property="departmentName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
		USER_ID, DEPARTMENT_ID, USER_NAME, USER_PWD, USER_POSITION,
		USER_PHONE,
		USER_EMAIL,
		USER_DISPLAY_ORDER, USER_NOTE
	</sql>

    <insert id="insertSelective"
            parameterType="com.sy.model.SysUser">
        insert into USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="departmentId != null">
                DEPARTMENT_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userPwd != null">
                USER_PWD,
            </if>
            <if test="userPosition != null">
                USER_POSITION,
            </if>
            <if test="userPhone != null">
                USER_PHONE,
            </if>
            <if test="userEmail != null">
                USER_EMAIL,
            </if>
            <if test="userDisplayOrder != null">
                USER_DISPLAY_ORDER,
            </if>
            <if test="userNote != null">
                USER_NOTE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=CHAR},
            </if>
            <if test="userPosition != null">
                #{userPosition,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userDisplayOrder != null">
                #{userDisplayOrder,jdbcType=INTEGER},
            </if>
            <if test="userNote != null">
                #{userNote,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.sy.model.SysUser">
        update USER
        <set>
            <if test="departmentId != null">
                DEPARTMENT_ID = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                USER_PWD = #{userPwd,jdbcType=CHAR},
            </if>
            <if test="userPosition != null">
                USER_POSITION = #{userPosition,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                USER_PHONE = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userDisplayOrder != null">
                USER_DISPLAY_ORDER =
                #{userDisplayOrder,jdbcType=INTEGER},
            </if>
            <if test="userNote != null">
                USER_NOTE = #{userNote,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey"
            parameterType="java.lang.Integer">
		delete from USER
		where USER_ID =
		#{userId,jdbcType=INTEGER}
	</delete>

    <select id="selectByPrimaryKey"
            parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from USER
        where USER_ID = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
    select
		u.USER_ID, u.USER_NAME,
		u.USER_PWD, u.USER_POSITION,
		u.USER_PHONE,
		u.USER_EMAIL,
		u.USER_DISPLAY_ORDER, u.USER_NOTE,d.DEPARTMENT_NAME,u.DEPARTMENT_ID
		from
		USER u,DEPARTMENT d
		where u.DEPARTMENT_ID=d.DEPARTMENT_ID
		ORDER BY USER_DISPLAY_ORDER
  </select>
</mapper>